.search-title{
    text-align: center;
    margin-top: 20px;

}

.search-logo{
    width: 3.5%;
    vertical-align: baseline;
}

.search-group{
    width: 50%;
    margin: auto;
}

#search-button{
    background-color: #639a67 !important;
    color: black !important
}

#search-button:hover{
    background-color: #c5464a !important;
    color: palegoldenrod !important
}






