.large-logo{
    background-color: seagreen;
}

.mobile-logo{
    display: none;
    width: 50px;
}

@media only screen and (max-width: 688px) {
    .large-logo{
        display: none;
    }

    .title{
        margin-top: 4%;
    }
  }