.failed-search-content{
  text-align: center;
  padding-top: 8%;
}

.number4{
font-size: 15rem;
}

.four-0-four-logo{
  width: 16.5%;
  vertical-align: baseline;
}

.oops{
  text-align: center;
}

.return-button{
  background-color: #639a67;
  margin-top: 20px;
  box-shadow: rgba(58,78,95,0.2) 0 10px 16px, rgba(58,78,95,0.05) 0 -5px 16px;
  border: none;
  border-radius: .25rem;
  width: max-content;
  margin: auto;
  margin-top: 20px
}

.return-button:hover{
color: palegoldenrod
}

