.gg-title{
    font-size: 250%;
    width: 100%;
    text-align: center;
    padding-right: 45px;
}

.title-logo{
    vertical-align: baseline;
    width: 8%
}

/* @media only screen and(max-width: 2560px){
    .title-logo{ 
        width: 8% !important;
    }
    .gg-title{
        font-size: 250%;
    }
} */

@media only screen and(max-width: 1440px){
    .gg-title{
        font-size: 20% 
    }
}
@media only screen and(max-width: 1024px){
    .gg-title{
        margin-top: 5%;
    }
}

@media only screen and (max-width: 768px){
    .gg-title{
        font-size: 175%;
        margin-left: 37.5%;
    }

    .title-logo{
      width: 9%;
    }
}

@media only screen and (max-width: 688px) {
    .gg-title{
        font-size: 190%;
        padding-right: 0px;
        margin-left: 0%;
    }

    .title-logo{
        width: 7%
    }
}

@media only screen and (max-width: 425px){
    .gg-card-title{
        margin-top: 3% !important;
        margin-left: -.5%;
    }
}

@media only screen and (max-width: 320px){
    .title-logo{
        width: 8%;
        margin-left: 0%
    }
}
    