.search-title{
    text-align: center;
    margin-top: 20px;

}

.search-logo{
    width: 3.5%;
    vertical-align: baseline;
}

.search-group{
    width: 50%;
    margin: auto;
    padding-left: 0.65%;

}

#search-button{
    background-color: #639a67 !important;
    color: black !important
}

#search-button:hover{
    background-color: #c5464a !important;
    color: palegoldenrod !important
}


@media only screen and (max-width: 1024px) {
.search-logo{
        width: 4.5%
    }
}

@media only screen and (max-width: 425px) {
.search-logo{
        width: 8.5%
    }

    .search-group{
        width: 65%
    }
}

@media only screen and (max-width: 320px) {
    .search-logo{
        width: 7.5%;
        vertical-align: inherit;
        }
    }
