.title{
    margin-left: 9%;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 700%;
}

.welcome{
    margin-left: 50%;
}

.paragraph{
    margin-left: 22%;
}

.paragraph2{
    margin-left: 34%;
    margin-bottom: 10%;
}