.title{
    margin-left: 12%;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 350%;
}

.welcome{
    margin-left: 49%;
}

.paragraph{
    margin-left: 27%;
}

.paragraph2{
    margin-left: 38%;
    margin-bottom: 10%;
}