<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Merge Sorted</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/5.2.0/mocha.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/5.2.0/mocha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/4.2.0/chai.min.js"></script>

    <script type="text/javascript" src="..clent/src/CanvasJS/"></script>
  
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                data: [
                {
                    type: "column",
                    dataPoints: [
                    { x: 10, y: 10 },
                    { x: 20, y: 15 },
                    { x: 30, y: 25 },
                    { x: 40, y: 30 },
                    { x: 50, y: 28 }
                    ]
                }
                ]
            });
   
            chart.render();
        }
    </script>
  </head>
   
  <body>
    <div id="chartContainer" style="height: 500px; width: 50%;"></div>
  </body>
  </html>
<!-- </head>
<div class="wrapper">
  <div class="wrapper">
    <header>
      <h1>Plant Tracker</h1>
    </header>
    <div class="ui container track">
      <div class="ui raised card m-auto">
        <h2>Add Your Plant</h2>
        <form action="POST">


          <div class="vegetable-form d-none">
            <div class="vegetable-name">
              <label for="vegetable-name">Plant Search:</label>
              <input type="text" name="vegetable-name" id="vegetable-name" placeholder="Vegetable" />
            </div>
            <div class="buttons">
              <button disabled class="huge ui blue button complete">
                Search Plants
              </button>
              <h4>Plant name return: </h4>

            </div>


            <div class="water">
              <label for="water">Water(per week):</label>
              <input type="number" name="water" id="water" placeholder="2" />
            </div>
            <div class="weed">
              <label for="duration">Weed (per week):</label>
              <input type="number" name="weed" id="weed" placeholder="1" />
            </div>
            <div class="prune">
              <label for="duration">Prune (per week):</label>
              <input type="number" name="prune" id="prune" placeholder="1" />
            </div>



            <div class="harvest">
              <label for="duration">Harvest (date add):</label>
              <input type="date" name="harvest" id="weed" placeholder="1" />
            </div>

            <div class="fertilize">
              <label for="duration">Fertilize (date add):</label>
              <input type="date" name="fertilize" id="fertilize" placeholder="" />
            </div>
            <div class="pest">
              <label for="pest">Pest Control (date add):</label>
              <input type="date" name="pest" id="pest" placeholder="1" />
            </div>
          </div>

          <button disabled class="huge ui positive button add-another">
            Add Plant
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="toast">
  Plant Added Successfully!
</div>
</body>

</html> -->


<!-- 
  notes
event date
npm install prismic-reactjs
import {Link, RichText, Date} from 'prismic-reactjs';
const eventDate = Date(document.data.event_date); -->


<!-- 
  lineChart.js
  //   render () {
  //     const options = {
  //       animationEnabled: true,
  //       title: {
  //         text: 'Garden Maintenance'
  //       },
  //       axisY: {
  //         title: 'Number of Times',
  //         interval: 2,
  //         includeZero: false
  //       },
  //       toolTip: {
  //         shared: true
  //       },
  //       data: [{
  //         type: 'spline',
  //         name: 'Water',
  //         showInLegend: true,
  //         dataPoints: [
  //           { y: 1, label: 'Jan' },
  //           { y: 3, label: 'Feb' },
  //           { y: 4, label: 'Mar' },
  //           { y: 2, label: 'Apr' },
  //           { y: 5, label: 'May' },
  //           { y: 9, label: 'Jun' },
  //           { y: 15, label: 'Jul' },
  //           { y: 12, label: 'Aug' },
  //           { y: 4, label: 'Sept' },
  //           { y: 0, label: 'Oct' },
  //           { y: 3, label: 'Nov' },
  //           { y: 5, label: 'Dec' }
  //         ]
  //       },
  //       {
  //         type: 'spline',
  //         name: 'Weed',
  //         showInLegend: true,
  //         dataPoints: [
  //           { y: 5, label: 'Jan' },
  //           { y: 7, label: 'Feb' },
  //           { y: 5, label: 'Mar' },
  //           { y: 2, label: 'Apr' },
  //           { y: 2, label: 'May' },
  //           { y: 5, label: 'Jun' },
  //           { y: 2, label: 'Jul' },
  //           { y: 8, label: 'Aug' },
  //           { y: 5, label: 'Sept' },
  //           { y: 0, label: 'Oct' },
  //           { y: 5, label: 'Nov' },
  //           { y: 9, label: 'Dec' }
  //         ]
  //       },
  //       {
  //         type: 'spline',
  //         name: 'Prune',
  //         showInLegend: true,
  //         dataPoints: [
  //           { y: 2, label: 'Jan' },
  //           { y: 0, label: 'Feb' },
  //           { y: 9, label: 'Mar' },
  //           { y: 0, label: 'Apr' },
  //           { y: 2, label: 'May' },
  //           { y: 5, label: 'Jun' },
  //           { y: 2, label: 'Jul' },
  //           { y: 8, label: 'Aug' },
  //           { y: 5, label: 'Sept' },
  //           { y: 0, label: 'Oct' },
  //           { y: 5, label: 'Nov' },
  //           { y: 1, label: 'Dec' }
  //         ]
  //       }
  //       ]
  //     }
  
  //     return (
  //       <div>
  //         <div style={{ width: '50%' }}>
  //           <CanvasJSChart options={options} style={{ width: '50%' }} />
  
  //         </div>
  //       </div>
  //     )
  //   }
  // }
  
  // export default App -->