.card {
    background-color: #639a67;
    width: 80%;
    margin-left: 8%;
    margin-top: 0% !important;
}

.welcome-container{
    text-align: center;
}


.btn{
background-color: palegoldenrod;
color: #c5464a !important;
}

.btn:hover{
background-color: #c5464a;
color: palegoldenrod;
border-color: none !important;
}

.card{
   background-color: #639a67;
   margin-top: 15%;
}

.btn-primary{
    background-color: palegoldenrod;
    border-color: #c5464a !important;
}

.btn-primary:hover {
    color: palegoldenrod !important;
    background-color: #c5464a !important;
    border-color: palegoldenrod !important;
}

.register-btn{
    color: palegoldenrod;
    margin-top: 0px !important;
}

.card-and-title-container{
        padding-right: 4%;
        padding-left: 3%;
}


@media only screen and (max-width: 688px) {
   .card-title{
    margin-left: 11px;
   }
  }