

body{
    font-family: 'Montserrat', sans-serif;
    color: #212529
}

.nav-bar{
    width: 100% !important;
    background-color: #639a67 !important;
    color: palegoldenrod !important;
    display: flex;
    flex-wrap: wrap;
}

.garden-guru-title{
text-transform: uppercase;
display: block;
color: #212529 !important
}

.gg-logo{
margin-left: 10px;
margin-bottom: 3px;
}

.search-container{
color: #212529 !important;
}

.magnify{
margin-left: 10px;
}

.logout{
color: #212529 !important;
border-left: black solid 1px;
padding-left: 20px;
}

.text-hover:hover{
    color: palegoldenrod !important
}

/*Mobile*/

@media only screen and (max-width: 688px) {
a.search-container{
margin-left: 0px !important;
text-align: left;
}
}